$primarycolor:hsl(0, 0%, 0%);

$buttoncolor:hsl(176, 50%, 47%);

$buttonhovercolor:hsl(176, 72%, 28%);

$secondarycolor:hsl(0, 0%, 48%);

$bordercolor:hsl(0, 3%, 88%) ;

$font-family: 'Commissioner', sans-serif;

$fontsize:14px;

$backgroundcolor:hsl(0, 0%, 100%);

$bodybackground:hsl(0, 0%, 96%);

$smallfontweight:400;

$mediumfontweight:500;

$boldfontweight:700;

$boxshadow:  1px 1px 4px rgba( 0, 0, 0, 0.2 );